<!DOCTYPE html>
<html>
  <head>
    <title>Nirvana Yoga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Nirvana Yoga BCN es un hermoso estudio de yoga ubicado en el corazón de Barcelona. Ofrecemos una variedad de clases de yoga para todos los niveles, impartidas por profesores experimentados y certificados. Ven y encuentra tu paz interior en Nirvana Yoga BCN." name="description">
    <meta content="Nirvana Yoga BCN, yoga studio, yoga classes, Barcelona, yoga teacher, inner peace, relaxation, fitness, health, estudio de yoga en barcelona, clases de yoga en barcelona" name="keywords">

    <!-- Favicons -->
    <link href="../../assets/images/favicon.png" rel="icon">
    <link href="../../apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/44d13542f9.js" crossorigin="anonymous"></script>

    <!-- Momoyoga CSS Stylesheet -->
    <link rel="stylesheet" href="https://www.momoyoga.com/schedule-plugin/v2/css/schedule-frontend.css" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
